@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico");   
    body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.row > .column {
    margin: 45px;
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
.dropbtn {
    padding: 15px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    font-size: 13px;
    height: 70px;
    width: 150px;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.bgimg-1, .bgimg-2, .bgimg-4, .bgimg-6{
  position: relative;
  opacity: 0.80;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("pink_flowers_facebook_cover.jpg");
  min-height: 100%;
}

.bgimg-2 {
background-image: url("pink_flowers_facebook_cover.jpg");
    min-height: 400px;
}

  .bgimg-4 {
  background-image: url("colourful-nature-free-facebook-cover.jpg");
  min-height: 400px;
}
  .bgimg-6 {
  background-image: url("Red-Squirrel-Food-nd-Drink-Content.jpg");
  min-height: 400px;
}
.caption {
  position: absolute;
  left: 0;
  top: 25%;
  width: 100%;
  text-align: center;
  color: white;
}

.caption span.border {
  font-size: 25px;
  letter-spacing: 10px;
}
        

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: white;
}

@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-4 {
        background-attachment: scroll;
    }
}
	html, body, div, span,  header, menu {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	 header, menu {
		display: block;
	}
		body.is-loading :before, body.is-loading :after {
			animation: none !important;
			transition: none !important;
		}
.button {
		appearance: none;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		border-radius: 0;
		border: 0;
		display: inline-block;
		font-size: 35px;
		font-weight: 700;
		height: 3.5em;
		line-height: 3.65em;
		padding: 0 2.25em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
	}

		input[type="submit"].alt,
		input[type="reset"].alt,
		input[type="button"].alt,
		button.alt,
		.button.alt {
			background-color: transparent;
			color: black!important;
		}
	#header {
		background: #1c1c1c;
		color: #d5d5d5;
		cursor: default;
		height: 5em;
		left: 0;
		line-height: 5em;
		position: fixed;
		text-align: right;
		top: 0;
		width: 100%;
		z-index: 10001;
	}

		#header .inner {
			max-width: 65em;
			margin: 0 auto;
			position: relative;
		}



		#header .logo {
			font-family: 'Pacifico', cursive;
			display: inline-block;
			height: inherit;
			left: 0;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
			color: #e5474b;
			font-size: 1.75em;
			text-transform: none;
			font-weight: normal;
			padding: 0;
		}

			#header .logo:hover {
				color: rgba(229, 71, 75, 0.75);
			}

		#header a {
			transition: color 0.2s ease-in-out;
			display: inline-block;
			padding: 0 2em;
			color: #ffffff;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 700;
		}
	#banner {
		background-color: #e5474b;
		color: white;
		padding: 13em 0 11em 0;
		background-color: #0c0c0c;
		background-image: url("../../images/McDonalds1.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 15% left;
		text-align: left;
		position: relative;
		z-index: 9999;
	}
			
		#banner:after {
			transition: opacity 4s ease;
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			display: block;
			top: 0;
			left: 0;
			background-color: #0c0c0c;
			opacity: 0.25;
		}

		#banner .inner {
            font-size: 35px;
			width: 900px;
			margin: 0 auto;
			position: relative;
			line-height: 1.5;
            color: white;
		}

		body.is-loading #banner:after {
			opacity: 1;
		}
form {
		margin: 0 0 2em 0;
	}

		form .field {
			margin: 0 0 2em 0;
		}

			form .field.half {
				width: 50%;
				float: left;
				padding: 0 0 0 1em;
			}

				form .field.half.first {
					padding: 0 1em 0 0;
				}

		form > .actions {
			margin: 2.5em 0 0 0 !important;
		}

		@media screen and (max-width: 736px) {

			form .field {
				margin: 0 0 1.5em 0;
			}

				form .field.half {
					padding: 0 0 0 0.75em;
				}

					form .field.half.first {
						padding: 0 0.75em 0 0;
					}

			form > .actions {
				margin: 2em 0 0 0 !important;
			}

		}

		@media screen and (max-width: 480px) {

			form .field.half {
				width: 100%;
				float: none;
				padding: 0;
			}

				form .field.half.first {
					padding: 0;
				}

		}

	label {
		display: block;
		font-size: 0.9em;
		text-transform: uppercase;
		font-weight: 700;
		margin: 0 0 1em 0;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		border-radius: 0;
		border: none;
		border: solid 3px;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;
	}

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

	.select-wrapper {
		text-decoration: none;
		display: block;
		position: relative;
	}

		.select-wrapper:before {
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.select-wrapper:before {
			content: '\f078';
			display: block;
			height: 2.75em;
			line-height: 2.75em;
			pointer-events: none;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			width: 2.75em;
		}

		.select-wrapper select::-ms-expand {
			display: none;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		height: 2.75em;
	}

	textarea {
		padding: 0.75em 1em;
	}

	input[type="checkbox"],
	input[type="radio"] {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		display: block;
		float: left;
		margin-right: -2em;
		opacity: 0;
		width: 1em;
		z-index: -1;
	}

		input[type="checkbox"] + label,
		input[type="radio"] + label {
			text-decoration: none;
			cursor: pointer;
			display: inline-block;
			font-size: 1em;
			font-weight: 300;
			padding-left: 2.4em;
			padding-right: 0.75em;
			position: relative;
		}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				border-radius: 0;
				border: solid 1px;
				content: '';
				display: inline-block;
				height: 1.65em;
				left: 0;
				line-height: 1.58125em;
				position: absolute;
				text-align: center;
				top: 0;
				width: 1.65em;
			}

		input[type="checkbox"]:checked + label:before,
		input[type="radio"]:checked + label:before {
			content: '\f00c';
		}

	input[type="checkbox"] + label:before {
		border-radius: 0;
	}

	input[type="radio"] + label:before {
		border-radius: 100%;
	}

	.formerize-placeholder {
		opacity: 1.0;
	}

	label {
		color: #e5474b;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		background: none;
		border-color: #fceced;
	}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		select:focus,
		textarea:focus {
			border-color: #e5474b;
			box-shadow: 0 0 0 1px #e5474b;
		}

	.select-wrapper:before {
		color: #e5474b;
	}

	input[type="checkbox"] + label,
	input[type="radio"] + label {
		color: #111111;
	}

		input[type="checkbox"] + label:before,
		input[type="radio"] + label:before {
			background: none;
			border-color: #e5474b;
		}

	input[type="checkbox"]:checked + label:before,
	input[type="radio"]:checked + label:before {
		background-color: #e5474b;
		border-color: #e5474b;
		color: #ffffff;
	}

	input[type="checkbox"]:focus + label:before,
	input[type="radio"]:focus + label:before {
		border-color: #e5474b;
		box-shadow: 0 0 0 1px #e5474b;
	}

	
	.formerize-placeholder {
		color: #717171 !important;
	}
#footer {
		background-color: #e5474b;
		color: #f2a3a5;
		padding: 4em 0 2em 0;
		background: #e5474b;
	}

		#footer input, #footer select, #footer textarea {
			color: #ffffff;
		}

		#footer a {
			color: #ffffff;
		}

		#footer strong, #footer b {
			color: #ffffff;
		}

		#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
			color: #fff;
		}

		#footer blockquote {
			border-left-color: #fff;
		}

		#footer code {
			background: none;
			border-color: #fff;
		}

		#footer hr {
			border-bottom-color: #fff;
		}

		#footer input[type="submit"],
		#footer input[type="reset"],
		#footer input[type="button"],
		#footer button,
		#footer .button {
			background-color: #5a5a5a;
			color: #ffffff !important;
		}

			#footer input[type="submit"]:hover,
			#footer input[type="reset"]:hover,
			#footer input[type="button"]:hover,
			#footer button:hover,
			#footer .button:hover {
				background-color: #676767;
			}

			#footer input[type="submit"]:active,
			#footer input[type="reset"]:active,
			#footer input[type="button"]:active,
			#footer button:active,
			#footer .button:active {
				background-color: #4d4d4d;
			}

			#footer input[type="submit"].alt,
			#footer input[type="reset"].alt,
			#footer input[type="button"].alt,
			#footer button.alt,
			#footer .button.alt {
				background-color: transparent;
				box-shadow: inset 0 0 0 2px #fff;
				color: #ffffff !important;
			}

				#footer input[type="submit"].alt:hover,
				#footer input[type="reset"].alt:hover,
				#footer input[type="button"].alt:hover,
				#footer button.alt:hover,
				#footer .button.alt:hover {
					background: rgba(255, 255, 255, 0.25);
				}

				#footer input[type="submit"].alt:active,
				#footer input[type="reset"].alt:active,
				#footer input[type="button"].alt:active,
				#footer button.alt:active,
				#footer .button.alt:active {
					background-color: rgba(255, 255, 255, 0.2);
				}

				#footer input[type="submit"].alt.icon:before,
				#footer input[type="reset"].alt.icon:before,
				#footer input[type="button"].alt.icon:before,
				#footer button.alt.icon:before,
				#footer .button.alt.icon:before {
					color: #f8d1d2;
				}

			#footer input[type="submit"].special,
			#footer input[type="reset"].special,
			#footer input[type="button"].special,
			#footer button.special,
			#footer .button.special {
				background-color: #ffffff;
				color: #e5474b !important;
			}

		#footer label {
			color: #ffffff;
		}

		#footer input[type="text"],
		#footer input[type="password"],
		#footer input[type="email"],
		#footer select,
		#footer textarea {
			background: none;
			border-color: rgba(255, 255, 255, 0.25);
		}

			#footer input[type="text"]:focus,
			#footer input[type="password"]:focus,
			#footer input[type="email"]:focus,
			#footer select:focus,
			#footer textarea:focus {
				border-color: #ffffff;
				box-shadow: 0 0 0 1px #ffffff;
			}

		#footer .select-wrapper:before {
			color: #fff;
		}

		#footer input[type="checkbox"] + label,
		#footer input[type="radio"] + label {
			color: #f2a3a5;
		}

			#footer input[type="checkbox"] + label:before,
			#footer input[type="radio"] + label:before {
				background: none;
				border-color: #fff;
			}

		#footer input[type="checkbox"]:checked + label:before,
		#footer input[type="radio"]:checked + label:before {
			background-color: #ffffff;
			border-color: #ffffff;
			color: #e5474b;
		}

		#footer input[type="checkbox"]:focus + label:before,
		#footer input[type="radio"]:focus + label:before {
			border-color: #ffffff;
			box-shadow: 0 0 0 1px #ffffff;
		}

		#footer ::-webkit-input-placeholder {
			color: #f8d1d2 !important;
		}

		#footer :-moz-placeholder {
			color: #f8d1d2 !important;
		}

		#footer ::-moz-placeholder {
			color: #f8d1d2 !important;
		}

		#footer :-ms-input-placeholder {
			color: #f8d1d2 !important;
		}

		#footer .formerize-placeholder {
			color: #f8d1d2 !important;
		}

		#footer .inner {
			max-width: 65em;
			width: calc(100% - 6em);
			margin: 0 auto;
		}

			@media screen and (max-width: 480px) {

				#footer .inner {
					max-width: 90%;
					width: 90%;
				}

			}

		#footer .copyright {
			font-size: 0.9em;
			margin: 0 0 2em 0;
			padding: 0;
		}

			#footer .copyright a {
				color: #f2a3a5;
			}

		@media screen and (max-width: 980px) {

			#footer {
				padding: 4em 0 2em 0;
			}

		}

		@media screen and (max-width: 736px) {

			#footer {
				padding: 2em 0 0.1em 0;
			}

		}
.fb{
    position: absolute;
    top: 2680px;
    left: 1075px;
}
.tw{
    position: absolute;
    top: 2680px;
    left: 1115px;
}
.in{
    position: absolute;
    top: 2680px;
    left: 1155px;
}
.gm{
    position: absolute;
    top: 2680px;
    left: 1200px;
}